.livePreview {
  background-color: var(--snow-colors-primary-900);
  color: var(--snow-colors-grey-50);
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  margin: 6px 12px;
  outline-offset: 4px;
  outline-width: 1px;
  outline-color: var(--snow-colors-neutral-1000);
}

.livePreview:hover {
  color: var(--snow-colors-neutral-0);
}

.livePreview svg {
  width: 14px;
  color: var(--snow-colors-grey-200);
}

.livePreview:hover svg {
  /* transform: translateX(4px) scale(1.5); */
  stroke-width: 2px;
  color: inherit;
}
